# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

homeassistant:
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.1.0/24
      trusted_users:
        192.168.1.136: c12d9a92e4ab44b99a3f8a0cf93719a1
      allow_bypass_login: true
      
      
api_password: "30031927"

group:
  ipad_dashboard:
    name: iPad
    entities:
      - sensor.time
      - weather.forecast_maison
      - light.salondejardin
      - climate.sejour
      - sensor.backup_backup_manager_state

lovelace:
  mode: storage
  dashboards:
    ipad-dashboard:
      mode: yaml
      title: iPad
      icon: mdi:tablet-ipad
      show_in_sidebar: true
      filename: ipad_dashboard.yaml
    modern-dashboard:
      mode: yaml
      title: Modern
      icon: mdi:cellphone
      show_in_sidebar: true
      filename: modern_dashboard.yaml
